{% extends 'layout.html' %}

{% block title %} {{ super() }} - Users {% endblock %}

{% set active_page="users.index" %}

{% block content %}
<h4>This is the users page</h4>
<hr>

<div class="col-md-6 offset-md-3">
  <table class="table table-striped table-inverse">
      <tbody>
        {% if users %}
          {% for u in users %}
            <tr>
              <td>
                {{ u }}
                {% if current_user.is_following(u) %}
                  <span class="float-right"><a href="{{ url_for('users.remove', user=u) }}" class="btn btn-warning"> Unfollow - </a></span>
                {% else %}
                  <span class="float-right"><a href="{{ url_for('users.add', user=u) }}" class="btn btn-success"> Follow + </a></span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
  </table>
</div>
{% endblock %}