{% extends 'layout.html' %}

{% block title %} {{ super() }} - About {% endblock %}

{% block content %}
  <h4>This is the about page</h4>
  <hr>

  {% if current_user.is_anonymous %}
    <h4>Welcome, New User</h4>
  {% else %}
    <div class="clearfix">
      <h4 class="float-left">My name is {{ current_user.name }}</h4>
      <span class="float-right"><a href="{{ url_for('users.delete', user=current_user) }}" class="btn btn-danger">Delete Account</a></span>
    </div>
    <hr>
  {% endif %}

  <div class="col-md-6 offset-md-3">
    <form action="{{ url_for('main.about') }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.name(class="form-control", placeholder="Name") }}
      </div>
      <div class="form-group">
        {{ form.email(class="form-control", placeholder="Email") }}
      </div>
      <div class="form-group">
        {{ form.password(class="form-control", placeholder="Password") }}
      </div>
      <div class="form-group">
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-success btn-block") }}
      </div>
    </form>
  </div>
{% endblock %}