{% extends 'layout.html' %}

{% block title %} {{ super() }} - Home {% endblock %}

{% set active_page="main.index" %}

{% block content %}
<h4>This is the home page</h4>
<hr />

<form action="{{ url_for('main.index') }}" method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.body(class="form-control", placeholder="Type status here...") }}
  </div>
  <div class="form-group">
    {{ form.submit(class="btn btn-info") }}
  </div>
</form>

<hr />

{% if posts %}
  {% for p in posts %}
    <p>
      {{ p.body }} | <small>{{ moment(p.timestamp).fromNow() }}</small> <br />
      {#{{ p.body }} | <small>{{ p.timestamp.strftime('%A, %b %d, %Y @%-I:%M%p') }}</small> <br />#}
      &mdash; {{ p.author.name }}
    </p>
    <hr />
  {% endfor %}
{% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}