{% extends 'layout.html' %}

{% block title %} {{ super() }} - Home {% endblock %}

{% block content %}
<h4>This is the home page</h4>
<h6>You are following:</h6>
{% if following %}
  {% for f in following %}
    <p>{{ f }}</p>
  {% endfor %}
{% endif %}
<hr />

<div class="col-md-6 offset-md-3">
  <table class="table table-striped table-inverse">
      <tbody>
        {% if users %}
          {% for u in users %}
            <tr>
              <td>{{ u.name }}
                <span class="float-right">
                  {% if current_user.is_following(u) %}
                    <a href="{{ url_for('users_remove', user=u) }}" class="btn btn-warning"> Unfollow - </a>
                  {% else %}
                    <a href="{{ url_for('users_add', user=u) }}" class="btn btn-warning"> Follow + </a>
                  {% endif %}
                </span>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
  </table>
</div>

{% endblock %}